.entity {
	background-repeat: no-repeat;
	background-size: contain;
	position: absolute;
}

.rat {
	width: 200px;
	height: 100px;
	cursor: pointer;
	z-index: 9999;
}

.rat.moving-15 {
	-webkit-transition: all 1.5s linear;
}

.rat.moving-10 {
	-webkit-transition: all 1s linear;
}

.rat.moving-05 {
	-webkit-transition: all .5s linear;
}

.poop {
	cursor: pointer;
	z-index: 9998;
	width: 30px;
	height: 30px;
}

.house {
	z-index: 9997;
	width: 100px;
	height: 80px;
	-webkit-animation: disappearing 7s 2s;
}

@-webkit-keyframes disappearing {
	50% {opacity: 0;}
}
